main {
    padding-top: 100px;
}

.black {
    background-color: black;
}

.green {
    background-color: green;
}

.orange {
    background-color: orange;
}

.blue {
    background-color: blue;
}

.row {
    left: 90px;
    margin-bottom: 30px;
}

.box {
    text-align: center;
    padding-top: 30px;
    height: 200px;
}
